/* CSS HEX */
--rich-black-fogra-29: #0E1316ff;
--azure-x-11-web-color: #D3E5ECff;
--steel-teal: #608285ff;
--charcoal: #374958ff;
--ruby-red: #982221ff;

/* CSS HSL */
--rich-black-fogra-29: hsla(203, 22%, 7%, 1);
--azure-x-11-web-color: hsla(197, 40%, 88%, 1);
--steel-teal: hsla(185, 16%, 45%, 1);
--charcoal: hsla(207, 23%, 28%, 1);
--ruby-red: hsla(1, 64%, 36%, 1);

/* SCSS HEX */
$rich-black-fogra-29: #0E1316ff;
$azure-x-11-web-color: #D3E5ECff;
$steel-teal: #608285ff;
$charcoal: #374958ff;
$ruby-red: #982221ff;

/* SCSS HSL */
$rich-black-fogra-29: hsla(203, 22%, 7%, 1);
$azure-x-11-web-color: hsla(197, 40%, 88%, 1);
$steel-teal: hsla(185, 16%, 45%, 1);
$charcoal: hsla(207, 23%, 28%, 1);
$ruby-red: hsla(1, 64%, 36%, 1);

/* SCSS RGB */
$rich-black-fogra-29: rgba(14, 19, 22, 1);
$azure-x-11-web-color: rgba(211, 229, 236, 1);
$steel-teal: rgba(96, 130, 133, 1);
$charcoal: rgba(55, 73, 88, 1);
$ruby-red: rgba(152, 34, 33, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);
$gradient-right: linear-gradient(90deg, #0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);
$gradient-bottom: linear-gradient(180deg, #0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);
$gradient-left: linear-gradient(270deg, #0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);
$gradient-top-right: linear-gradient(45deg, #0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);
$gradient-bottom-right: linear-gradient(135deg, #0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);
$gradient-top-left: linear-gradient(225deg, #0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);
$gradient-bottom-left: linear-gradient(315deg, #0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);
$gradient-radial: radial-gradient(#0E1316ff, #D3E5ECff, #608285ff, #374958ff, #982221ff);